@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?52hbbi');
	src:url('../fonts/icomoon.eot?#iefix52hbbi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?52hbbi') format('woff'),
		url('../fonts/icomoon.ttf?52hbbi') format('truetype'),
		url('../fonts/icomoon.svg?52hbbi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e600";
}
.icon-pause:before {
	content: "\e601";
}
.icon-stop:before {
	content: "\e602";
}
.icon-backward:before {
	content: "\e603";
}
.icon-forward:before {
	content: "\e604";
}
.icon-play2:before {
	content: "\e605";
}
.icon-pause2:before {
	content: "\e606";
}
.icon-stop2:before {
	content: "\e607";
}
.icon-backward2:before {
	content: "\e608";
}
.icon-forward2:before {
	content: "\e609";
}
.icon-first:before {
	content: "\e60a";
}
.icon-last:before {
	content: "\e60b";
}
.icon-previous:before {
	content: "\e60c";
}
.icon-next:before {
	content: "\e60d";
}
.icon-volume-high:before {
	content: "\e60e";
}
.icon-volume-medium:before {
	content: "\e60f";
}
.icon-volume-low:before {
	content: "\e610";
}
.icon-volume-mute:before {
	content: "\e611";
}
.icon-volume-mute2:before {
	content: "\e612";
}
.icon-volume-increase:before {
	content: "\e613";
}
.icon-volume-decrease:before {
	content: "\e614";
}
