.form-login {
    max-width: 300px;
    padding: 15px;
    margin: 0 auto;
}

.form-login .form-login-heading {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-login .checkbox {
    font-weight: normal;
}

.form-login .form-login-help {
    margin-top: 5px;
}
