/* https://kuler.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=1&name=Muziq&mode=rgb&rgbvalues=0.8274311348672087,0.8562000345511704,0.8745098039215686,0.49389928501093694,0.6042670164012827,0.6745098039215687,0.5435814406190407,0.5624811886176972,0.5745098039215687,0.8356117425767227,0.8593816249291387,0.8745098039215686,0.36007993801316507,0.3725995341201818,0.38056754540487486&swatchOrder=0,1,2,3,4 */

@import url(../vendor/css/bootstrap.css);
@import url(icons.css);
@import url(player.css);
@import url(login.css);
@import url(typeahead.css);

body {
    padding-top: 50px;
}

.navbar-form {
    margin-top: 11px;
    margin-bottom: 11px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 0;
}

.navbar,
.navbar-fixed-top {
    border: 0;
}

.navbar-inverse,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #161717;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}

.navbar-form .form-control.search-input {
    width: 250px;
    height: 28px;
    padding: 5px 8px;
}

#sidebar {
    background: #f2f2f2;
}

.play-btn {
    visibility: hidden;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.play-btn:hover {
    text-decoration: none;
    color: #000;
}

tr:hover .play-btn {
    visibility: visible;
}

.dz-error-mark,
.dz-success-mark {
    display: none;
}

.dz-success .dz-success-mark,
.dz-error .dz-error-mark {
    display: inline;
}

.modal .upload {
    margin-bottom: -15px;
}

.upload-drop {
    margin: -10px;
    border: dashed 5px #fff;
}

.upload-info {
    margin: 5px;
    visibility: visible;
}

.dz-drag-hover .upload-drop {
    border-color: #eee;
}

.dz-drag-hover .upload-info {
    visibility: hidden;
}

