.navbar-player .jp-gui {
    min-height: 50px;
}

.navbar-player .jp-controls {
    display: inline-block;
    margin-top: 11px;
}

.navbar-player .jp-controls a {
    text-decoration: none;
    color: #ddd;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.0;
    outline: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px rgba(32, 32, 32, .1);
}

.navbar-player .jp-controls a:hover,
.navbar-player .jp-controls a:active {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.navbar-player .jp-controls a.jp-back,
.navbar-player .jp-controls a.jp-next {
    font-size: 20px;
}

.navbar-player .jp-controls a.jp-play,
.navbar-player .jp-controls a.jp-pause {
    font-size: 28px;
    margin-left: 5px;
    margin-right: 4px;
}

.navbar-player .jp-controls a.disabled,
.navbar-player .jp-controls a.disabled:hover,
.navbar-player .jp-controls a.disabled:active {
    color: #444;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 1px rgba(32, 32, 32, .1);
}

.navbar-player .jp-status {
    margin-left: 20px;
    margin-top: 11px;
    height: 26px;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    font-size: 85%;
    color: #bbb;
    position: relative;
}

.navbar-player .jp-progress {
    display: block;
    height: 4px;
    width: 300px;
    position: absolute;
    bottom: 2px;
    left: 0px;
    background: #333;
    border-radius: 2px;
}

.navbar-player .jp-progress .jp-seek-bar {
    display: block;
    background: #444;
    border-radius: 2px;
    height: 4px;
    cursor: pointer;
}

.navbar-player .jp-progress .jp-play-bar {
    display: block;
    background: #3a83ae;
    border-radius: 2px;
    height: 4px;
}

.navbar-player .jp-status .jp-title {
    float: left;
}

.navbar-player .jp-status .jp-time-holder {
    float: right;
}

@media (min-width: 768px) {

    .navbar-player {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }

}

