.tt-dropdown-menu {
  width: 250px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.tt-dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999;
}

.tt-dropdown-menu .tt-suggestion,
.tt-dropdown-menu .tt-suggestion * {
  white-space: nowrap !important;
}

.tt-dropdown-menu .tt-suggestion a strong {
  font-weight: normal;
  border-bottom: solid 1px #ddd;
}

.tt-dropdown-menu .tt-suggestion a {
  display: block;
  padding: 3px 20px;
  margin: 0;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

